body {
	background-color: white;
}

p {
	color: #0089BC;
	font-family: "Arial", Helvetica, sans-serif;
	text-align: center;
}
/*
div {
    -webkit-column-count: 2;  /* Chrome, Safari, Opera 
    -moz-column-count: 2; /* Firefox 
    column-count: 2;

    -webkit-column-gap: 2px; /* Chrome, Safari, Opera 
    -moz-column-gap: 2px; /* Firefox 
    column-gap: 2px;
}
*/


.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   text-align: center;
}

.over-image{
	position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
   font-family: "Arial", Helvetica, sans-serif;
}

h2 { 
   position: absolute; 
   top: 50px; 
   left: 0; 
   width: 100%; 
   font-family: "Arial", Helvetica, sans-serif;
}